<h2 class="background_header">Antennas</h2>

<div #content class="content content-{{details?.id + 1}}">

  <div class="text">

    <h3>
      {{details?.value?.header}}
    </h3>

    <div class="describe">
      <p>
        {{details?.value?.paragraph}}
      </p>
      <button #learnMore>Learn More</button>
    </div>

  </div>

  <div class="image">
    <img src='{{img || imagesPath + details.value.img_num + ".webp"}}' alt="Antenna photo.">
  </div>

  <div *ngIf="properties" class="particular_details">

    <div  class="properties description">
      <h4>Description</h4>
      <p>{{properties.description}}</p>
    </div>

    <div  class="properties specification">
      <h4>Specification</h4>
      <ul>
        <li *ngIf="isString(properties.specification['Frequency range']); else frequency_arr">Frequency range: {{ properties.specification["Frequency range"] }}</li>
        <ng-template #frequency_arr>
          <p>Frequency range:</p>
          <ul>
            <li>{{properties.specification['Frequency range'][0]['P1']}}</li>
            <li>{{properties.specification['Frequency range'][0]['P2']}}</li>
          </ul>
        </ng-template>

        <li *ngIf="isString(properties.specification['Gain']); else gain_arr">Gain: {{ properties.specification["Gain"] }}</li>
        <ng-template #gain_arr>
          <p>Gain:</p>
          <ul>
            <li>{{properties.specification['Gain'][0]['P1']}}</li>
            <li>{{properties.specification['Gain'][0]['P2']}}</li>
          </ul>
        </ng-template>

        <li *ngIf="isString(properties.specification['Beamwidth Azimuth']); else azimuth_arr">Beamwidth Azimuth: {{ properties.specification["Beamwidth Azimuth"] }}</li>
        <ng-template #azimuth_arr>
          <p>Beamwidth Azimuth:</p>
          <ul>
            <li>{{properties.specification['Beamwidth Azimuth'][0]['P1']}}</li>
            <li>{{properties.specification['Beamwidth Azimuth'][0]['P2']}}</li>
          </ul>
        </ng-template>

        <li *ngIf="isString(properties.specification['Beamwidth Elevation']); else elevation_arr">Beamwidth Elevation: {{ properties.specification["Beamwidth Elevation"] }}</li>
        <ng-template #elevation_arr>
          <p>Beamwidth Elevation:</p>
          <ul>
            <li>{{properties.specification['Beamwidth Elevation'][0]['P1']}}</li>
            <li>{{properties.specification['Beamwidth Elevation'][0]['P2']}}</li>
          </ul>
        </ng-template>

        <li>VSWR: {{ properties.specification["VSWR"] }}</li>
        <li>Impedance: {{ properties.specification["Impedance"] }}</li>

        <li>XPD (cross polarization discrimination): {{ properties.specification["XPD (cross polarization discrimination)"] }}</li>
        <li>RF Interface: {{ properties.specification["RF Interface"] }}</li>
      </ul>
    </div>

    <div  class="properties mechanical_properties">
      
      <h4>Mechanical Properties</h4>

      <div>
        Length: {{properties.mechanical_properties.length}}cm
      </div>

      <div *ngIf="isNumber(properties.mechanical_properties.width); else arr">
        Width: {{properties.mechanical_properties.width}}cm
      </div>
      <ng-template #arr>
        <div>Width_1: {{properties.mechanical_properties.width[0]}}cm</div>
        <div>Width_2: {{properties.mechanical_properties.width[1]}}cm</div>

      </ng-template>
      
      <div>
        Weight: {{properties.mechanical_properties.weight}}kg
      </div>

      <div>
        Color: {{properties.mechanical_properties.color}}
      </div>

      <div>
        Material: {{properties.mechanical_properties.material}}
      </div>

    </div>

    <div  class="properties charts">

      <div>
        <h4>{{properties.charts.header}}</h4>
        <img src="{{properties.charts[0]}}.webp" alt="">
      </div>

      <div *ngIf="properties.charts[1]">
        <h4>{{properties.charts.header}}</h4>
        <img src="{{properties.charts[1]}}.webp" alt="">
      </div>
      
    </div>

    <mat-icon (click)="hideDetails()">close</mat-icon>

  </div>

</div>


<span *ngIf="details?.id != 3" class="line"></span>