.contact{
    position: absolute;
    max-width: 650px;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);

    p{
        font-size: 21px;
        margin-bottom: 14px;
        letter-spacing: 2px;
    }

    h2{
        position: absolute;
        top: 50%;
        left: -175%;

        font-size: 300px;
        font-weight: 600;
        line-height: 40.02%;
        width: 1200px;
        height: 155px;
        color: rgba(246, 248, 251, 1);
        text-shadow: 0px 0px 2px rgb(212, 207, 207);
        z-index: -1;
    }

    h4{
        margin-bottom: 20px;
        margin-top: 34px;
    }
}

@media(max-width: 800px)
{
    .contact{
        h2{
            width: 100%;
        }
    }
}

@media(max-width: 450px)
{
    .contact{
        transform: translate(-50%, 0%);
    }
}