
$background: rgba(246, 248, 251, 1);

$nav-padding: 43.5px;
$nav-list-margin-top: calc(70px - 43.5px);

nav{

    background: $background;
    padding-top: $nav-padding;

    padding-right: 10%;
    flex-wrap: nowrap;

    position: relative;

    .logo{
        margin-left: 103px;
    }

    div{
        display: flex;
        height: fit-content;

        margin-top: $nav-list-margin-top;

        ul{
            display: flex;
            list-style-type: none;
            width: fit-content;
            height: 18px;
            flex-shrink: 0;
            line-height: 18px;
            gap: 75px;
            margin-bottom: 0;
            margin-top: 6px;
            padding-left: 0;
    
            li{
                color: #000;
                font-family: 'Akshar', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
            }
        }

        .line{
            margin-left: 44px;
            margin-right: 42px;
            height: 18px;
            margin-top: 6px;
            width: 2px;
        }

        .sign{
            margin-left: 41px;
        }
    }

    .menu{
        display: none;
        color: rgb(248, 190, 57);

        width: 32px;
        height: 32px;

        mat-icon{
            width: 32px;
            height: 32px;

            font-size: 30px;
        }
    }
}

$content_text_margin_top: 30px;

main{
    font-family: Akshar;
}



@media (max-width: 1550px)
{
    nav{
        
        .nav-list{

            ul{
                gap: 60px;
            }
        }
    }

}

@media (max-width: 1300px)
{
    nav{
        transform-style: preserve-3d;
        transform: translateZ(1px);
        z-index: 4;
        .nav-list{
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 115px;
            margin-top: 0;
            width: 100%;
            height: calc(100vh);
            z-index: 2;
            background: #f7f7f7;
            
            display: none !important;
            flex-direction: column;

            position: absolute;
            top: 100%;

            right: 115px;
            margin-top: 0;
    
            ul{
                flex-direction: column;
                height: fit-content;
                display: block;

                li{
                    &:nth-of-type(1)
                    {
                        margin-top: 0;
                    }

                    margin-top: 28px;
                    text-align: center;
                }
            }
    
            img{
                &:nth-of-type(1){
                    display: none;
                }
    
                width: fit-content;
                height: fit-content;

                margin: auto;
                margin-top: 28px;
            }
        }

        .menu{
            display: block;
        }
    }
    
}

@media(max-width: 800px)
{
    nav .logo{
        width: 200px;
    }
}

@media(max-width: 650px)
{
    nav .logo{
        margin-left: 10%;
    }
}