
  <div class="content">
      <div #detailsContainer *ngIf="detailsChild" class="particular_details">
    
          <div  class="properties description">
            <h4>Description</h4>
            <p>{{detailsChild.description}}</p>

            <span class="line_properties"></span>
          </div>
          
          <div  class="properties specification">
            <h4>Specification</h4>
            <p>{{detailsChild.specification}}</p>

            <span class="line_properties"></span>
          </div>
          
      
          <div  class="properties mechanical_properties">
            <h4>Mechanical Properties</h4>
            <div>
              Size: {{detailsChild.mechanical_properties.size}}inch
            </div>
            <div>
              Weight: {{detailsChild.mechanical_properties.weight}} kg
            </div>
            <div>
              Color: {{detailsChild.mechanical_properties.color}}
            </div>
            <div>
              Material: {{detailsChild.mechanical_properties.material}}
            </div>

            <span class="line_properties"></span>
          </div>
          
      
          <div class="properties charts">
      
            <div>
              <h4>{{detailsChild.charts.header}}</h4>
              <img src="{{detailsChild.charts[0]}}.jpg" alt="">
            </div>
      
            <div *ngIf="detailsChild.charts[1]">
              <h4>{{detailsChild.charts.header}}</h4>
              <img src="{{detailsChild.charts[1]}}.jpg" alt="">
            </div>
            
          </div>
      
      </div>

      <mat-icon (click)="hideDetails()">close</mat-icon>
  </div>
