<nav class="nav flex justify-content-between">
  <img class="logo" routerLink="/" ngSrc="./assets/images/logo.png" alt="logo" width="auto" height="auto" priority>

  <div #nav_list class="nav-list">
    <ul>
      <li routerLink="/" >Home</li>
      <li routerLink="products" >Products</li>
      <li routerLink="contact">Contact</li>
      <li routerLink="news" >News</li>
    </ul>
  </div>

  <div #bar_menu class="menu">
    <mat-icon>menu</mat-icon>
  </div>
  
</nav>
  <div class="content">
      <div #detailsContainer *ngIf="detailsChild" class="particular_details">
    
          <div class="box d-flex flex-wrap">
            <div class="desc col-lg">
              <div  class="properties description">
                <h4>Description</h4>
                <p>{{detailsChild.description}}</p>
              </div>
              
              <div class="properties specification">
                <h4>Specification</h4>
                <ul>
                  <li *ngIf="isString(detailsChild.specification['Frequency range']); else frequency_arr">Frequency range: {{ detailsChild.specification["Frequency range"] }}</li>
                  <ng-template #frequency_arr>
                    <p>Frequency range:</p>
                    <ul>
                      <li>{{detailsChild.specification['Frequency range'][0]['P1']}}</li>
                      <li>{{detailsChild.specification['Frequency range'][0]['P2']}}</li>
                    </ul>
                  </ng-template>
          
                  <li *ngIf="isString(detailsChild.specification['Gain']); else gain_arr">Gain: {{ detailsChild.specification['Gain'] }}</li>
                  <ng-template #gain_arr>
                    <p>Gain:</p>
                    <ul>
                      <li>{{detailsChild.specification['Gain'][0]['P1']}}</li>
                      <li>{{detailsChild.specification['Gain'][0]['P2']}}</li>
                    </ul>
                  </ng-template>
          
                  <li *ngIf="isString(detailsChild.specification['Beamwidth Azimuth']); else azimuth_arr">Beamwidth Azimuth: {{ detailsChild.specification["Beamwidth Azimuth"] }}</li>
                  <ng-template #azimuth_arr>
                    <p>Beamwidth Azimuth:</p>
                    <ul>
                      <li>{{detailsChild.specification['Beamwidth Azimuth'][0]['P1']}}</li>
                      <li>{{detailsChild.specification['Beamwidth Azimuth'][0]['P2']}}</li>
                    </ul>
                  </ng-template>
          
                  <li *ngIf="isString(detailsChild.specification['Beamwidth Elevation']); else elevation_arr">Beamwidth Elevation: {{ detailsChild.specification["Beamwidth Elevation"] }}</li>
                  <ng-template #elevation_arr>
                    <p>Beamwidth Elevation:</p>
                    <ul>
                      <li>{{detailsChild.specification['Beamwidth Elevation'][0]['P1']}}</li>
                      <li>{{detailsChild.specification['Beamwidth Elevation'][0]['P2']}}</li>
                    </ul>
                  </ng-template>
          
                  <li>VSWR: {{ detailsChild.specification["VSWR"] }}</li>
                  <li>Impedance: {{ detailsChild.specification["Impedance"] }}</li>
          
                  <li>XPD (cross polarization discrimination): {{ detailsChild.specification["XPD (cross polarization discrimination)"] }}</li>
                  <li>RF Interface: {{ detailsChild.specification["RF Interface"] }}</li>
                </ul>
              </div>
            </div>
            
            <div class="antenna_image">
              <img ngSrc="./assets/images/home/content/content_{{detailsChild.id}}.webp" width="430" height="auto" alt="Antenna image" priority>
            </div>
          </div>
      
          <div class="properties mechanical_properties">
            <h4>Mechanical Properties</h4>

            <div class="mech_data">
              Length: {{detailsChild.mechanical_properties.length}}cm
            </div>

            <div class="mech_data" *ngIf="isNumber(detailsChild.mechanical_properties.width); else arr">
              Width: {{detailsChild.mechanical_properties.width}}cm
            </div>
            <ng-template #arr>
              <div>Width_1: {{detailsChild.mechanical_properties.width[0]}}cm</div>
              <div>Width_2: {{detailsChild.mechanical_properties.width[1]}}cm</div>
            </ng-template>

            <div class="mech_data">
              Weight: {{detailsChild.mechanical_properties.weight}} kg
            </div>

            <div class="mech_data">
              Color: {{detailsChild.mechanical_properties.color}}
            </div>

            <div class="mech_data">
              Material: {{detailsChild.mechanical_properties.material}}
            </div>
          </div>
          
      
          <div class="properties charts">
      
            <div>
              <h4>{{detailsChild.charts.header}}</h4>
              <img ngSrc="{{detailsChild.charts[0]}}.webp" width="auto" height="auto" alt="Chart with realized gain." priority>
            </div>
      
            <div *ngIf="detailsChild.charts[1]">
              <h4>{{detailsChild.charts.header}}</h4>
              <img ngSrc="{{detailsChild.charts[1]}}.webp" width="auto" height="auto" alt="Chart with realized gain." priority>
            </div>
            
          </div>
      
      </div>
      <br>
      <mat-icon (click)="hideDetails()">close</mat-icon>
  </div>
