.products{
    width: 100%;
    max-width: 1100px;
    padding-top: 120px;
    position: relative;
    margin: auto;
    padding-bottom: 120px;

    .product{
        width: 360px;
        height: 400px;
        margin-left: 15px;
        position: relative;
        padding-top: 14px;
        transition: box-shadow .4s ease-in, transform .4s ease;
        transform: rotate3d(1, 0, 0, 55deg);
        border-radius: 15px;
        
        h3{
                width: 265px;
                position: absolute;
                bottom: 3%; 
                right: 50%;
                transform: translate(50%,-50%);
                text-transform: uppercase;
                font-family: verdana;
                font-size: 38px;
                font-weight: 700;
                color: #555050;
        }

        img{
           position: absolute;
            top: -175px;
            left: -120px;
            height: 455px;
            width: 555px;
        }

        &:nth-of-type(2) img{
            left: -80px;
        }

        &:hover{
            box-shadow: 5px 12px 19px 7px rgba(175, 177, 188, 1);
            animation: raise .4s ease-in-out forwards;
        }

        .base{
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: #eab632;
        }
    }

    button{
        position: absolute;
        right: 50px;
        bottom: 30px;

        width: 172px;
            height: 49px;
            border-radius: 15px;
            
            border: none;
            background-color: rgb(23, 23, 23);

            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            line-height: 149%;
            overflow: hidden;
            transition: background-color .6s ease-out;

            &:hover{
                background-color: #2556ec;
            }
    }
}

@media (max-width: 520px) {
   .products {
    .product{
        width: 75%;
    }
   } 
}

@keyframes raise {
    0%{
        top: 0;
    }
    100%{
        top: -20px;
    }
}