<app-details *ngIf="detailsParent" [detailsChild]="detailsParent"></app-details>

<div #products class="products d-flex flex-wrap justify-content-center">
    <div class="product">
        <div data-id="1" class="cover"></div>
        <h3>ADAS 1.1 O</h3>
        <img src="{{domesticPath}}/content_1.png" alt="">
    </div>
    <div  class="product">
        <div data-id="2" class="cover"></div>
        <h3>ADAS 2.1 O</h3>
        <img src="{{domesticPath}}/content_2.png" alt="">
    </div>
    <div class="product">
        <div data-id="3" class="cover"></div>
        <h3>ADAS 1.1 D</h3>
        <img src="{{domesticPath}}/content_3.png" alt="">
    </div>
    <div class="product">
        <div data-id="4" class="cover"></div>
        <h3>ADAS 2.1 D</h3>
        <img src="{{domesticPath}}/content_4_2.png" alt="">
    </div>

    <button (click)="navigate()">Ask for availability</button>
</div>
