<div class="products">
    <div class="product">
        <h3>ADAS 1.1 O</h3>
        <img src="{{domesticPath}}/content_1.png" alt="">
    </div>
    <div class="product">
        <h3>ADAS 2.1 O</h3>
        <img src="{{domesticPath}}/content_2.png" alt="">
    </div>
    <div class="product">
        <h3>ADAS 1.1 D</h3>
        <img src="{{domesticPath}}/content_3.png" alt="">
    </div>
    <div class="product">
        <h3>ADAS 2.1 D</h3>
        <img src="{{domesticPath}}/content_4_1.png" alt="">
    </div>

    <button (click)="navigate()">Ask for availability</button>
</div>
