
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$anti-drone-primary: mat.define-palette(mat.$indigo-palette);
$anti-drone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$anti-drone-warn: mat.define-palette(mat.$red-palette);
$background: rgba(246, 248, 251, 1);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$anti-drone-theme: mat.define-light-theme((
  color: (
    primary: $anti-drone-primary,
    accent: $anti-drone-accent,
    warn: $anti-drone-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($anti-drone-theme);

/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0 ;
  margin-bottom: 0;
  cursor: none !important;
}

html, body { height: 100%; overflow-x: hidden;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $background;}

.container-fluid{
  background: $background;
  min-height: 100vh;

  padding-top: 92px;
  padding-left: 119px;

  position: relative;
  padding-bottom: 120px;

  &:nth-of-type(1)
  {
      min-height: calc(100vh - (43.5px + 79px));
  }

}

.ball{
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5a5a;
  z-index: 9;
  pointer-events: none;
}

//details styles which are use at component included in products and in home also

$background: rgba(246, 248, 251, 1);
$content_text_margin_top: 30px;

.content {
    position: relative;
    z-index: 1;

    display: flex;
    min-height: 650px;
    flex-wrap: wrap;

    gap: 55px;
    width: 90%;
    justify-content: space-around;

    .text {
        width: 667px;
        margin-top: 150px;

        h3 {
            font-size: 100px;
            font-weight: 600;
            line-height: 130.02%;
            color: #F8BE39;
        }

        p {
            max-width: 509px;
            color: #000;
            font-size: 18px;
            font-weight: 300;
            line-height: 149%;
            margin-top: $content_text_margin_top;
            margin-bottom: 0;
        }

        button {
            width: 172px;
            height: 49px;
            border-radius: 15px;
            
            border: none;
            margin-top: $content_text_margin_top;
            background-color: transparent;

            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            line-height: 149%;

            transition: opacity .8s ease-out;
            position: relative;
            overflow: hidden;
            
            &::before{
                content: "";
                background-color: #000;
                position: absolute;
                z-index: -2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: background-color .8s ease;
            }

            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0%;
                background-color: #2556ec;
                z-index: -2;
                transition: width 1.1s ease;
                transition-delay: .1s;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }

    .image {
        width: 410px;
        height: 595px;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 800px;
            height: 500px;
        }
    }

    .particular_details {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        position: relative;

        $top: 110;

        .properties{

            &.mechanical_properties{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 33px;

                div{
                    width: 148px;
                    height: 37px;
                    background-color: rgb(221, 223, 226);
                    border-radius: 10px;
                    text-align: center;
                    line-height: 37px;
                }
            }
            h4{
                font-size: 40px;
                font-weight: 400;
                width: 100%;
            }

            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 149%;
            }
        }

        .line_properties{
            display: block;
            width: 100%;
            height: 1px;
            background-color: #9e9999;
            margin: 36px 0px;
        }

        .charts{
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
            
            div{
                margin-top: 42px;

                h4{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 40.02%;
                    text-align: center;
                    margin-bottom: 15px;
                }

                img{
                    width: 100%;
                    max-width: 650px;
                }
            }

            
        }

        mat-icon{
            position: absolute;
            bottom:  0%;
            right: -3%;
            font-size: 35px;
            width: 34px;
            height: 34px;
            color: #2556ec;
        }
    }

}

.background_header {
    position: absolute;
    top: 590px;
    left: 5%;

    font-size: 300px;
    font-weight: 600;
    line-height: 40.02%;
    width: 1200px;
    height: 155px;
    color: $background;
    text-shadow: 0px 0px 2px rgb(212, 207, 207);
    z-index: 0;
}

.line {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 90%;
    height: 1px;
    background-color: #9e9999;
}


//untypical img size
$container_number: 3, 4;
$img_sizes: 785px 452px, 770px 330px 670px 290px;

@for $i from 1 through length($img_sizes) {

    .content:nth-of-type(#{nth($container_number, $i)}) .image {
        $list: nth($img_sizes, $i);

        @for $x from 1 through length($list) / 2 {
            img:nth-of-type(#{$x}) {
                width: nth($list, 2 * $x - 1);
                height: nth($list, 2 * $x);
            }
        }
    }
}

@media (max-width: 1550px) {
    .content {
        .text {
            width: fit-content !important;
        }
    }

}

@media (max-width: 1300px) {

    .background_header {
        font-size: 300px;
        left: 5%;
        transform: translate(-17%, 0);
    }

}

@media(max-width: 800px) {
    nav .logo {
        width: 200px;
    }

    .content {
        width: 100% !important;
        gap: 0px !important;

        padding-right: 20px;

        .text {
            h3 {
                font-size: 70px !important;
            }
        }
    }


    .content {
        width: 100% !important;
        gap: 0px !important;
    }
    
}

@media(max-width: 650px) {
    nav .logo {
        margin-left: 10%;
    }

    .content .text {
        margin-top: 0px;
        padding: 0px 20px 0px 20px;

        h3{
            font-size: 13vw !important;
        }
    }
}

@media(max-width: 485px) {
    .content .image img {
        width: 190% !important;
        height: auto !important;
    }

    .content{
        padding: 0px 1px 0px 10px;
    }
}