
$background: rgba(246, 248, 251, 1);
$content_text_margin_top: 30px;

    :host .container-fluid:nth-of-type(1) ::ng-deep app-details .content .text{
        margin-top: 60px;
    }

    section{
        position: relative;
        width: 77%;
        margin: 200px auto 0px auto;
        padding-bottom: 90px;
        min-height: calc(100vh - 350px);

        h1{
            text-align: center;
            font-size: 70px;
        }

        p{
            margin-top: 30px;
            font-size: 19px;
            line-height: 32px;
            min-height: 120px;

            .machine_line{
                animation: gleam .6s infinite;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .line{
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 117%;
            height: 1px;
            background-color: #9e9999;
        }
    }

    #counter{
        font-family: Akshar;
        display: flex;
        position: fixed;
    
        bottom: 7%;
        right: 5%;
    
        flex-direction: column;
        gap: 25px;
    
        span{
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
    
        .line{
            display: block;
            width: 35px;
            height: 2px;
            background-color: #252525;
        }
    }

@media(max-width: 800px)
{
    .container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@keyframes gleam {
    0%{
        opacity: 1;
    }
    57%{
        opacity: 1;
    }
    58%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}